:root {
  /*Propiedades reusables*/
  --blanco: #ffffff;
  --negro: #000000;
  --Primario: #374c00;
  --P-Dark: #192300;
  --P-Light: #64782e;
  --Fondo: #121317;

}

/*
  * {
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  */
html,
body {
  height: 100%;
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
  font-size: 16px;
  background-color: var(--Fondo);
  font-family: 'Open Sans', sans-serif;

}

/*/contenedor principala de la navegacion*/
.barra-nav {
  background-color: var(--negro);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--blanco);
  font-weight: 700;
  padding: 5.5px 1rem;
}

/********estilos al titulo**********/
.barra-nav a {
  text-decoration: none;
  color: var(--blanco);
}

.barra-nav span {
  margin: 0 1rem;
  font-size: 24px;
}

/*************************/
.navegacion-prin a {
  color: var(--blanco);
  text-decoration: none;
  padding: 2.3rem;

}

.navegacion-prin a:hover {
  background-color: #121317;
  color: #f4ff91;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.site-footer {
  margin-top: auto;
}

.footer-izq {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.footer-izq p {
  margin: 0 1rem;
}

.titulo {
  margin: 1rem;
  font-size: xx-large;
}

/*taps*/

.borde {
  background-color: #121317;
  color: #f4ff91;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}

.taps {
  /*
     border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-width: 1px;
    border-color:#3b3e4d;
    border-style: solid;
    border-bottom: 2px;
  
     border-color:#5b5c64;
    */
  border-style: solid;
  border-top: 5px;
  border-left: 2px;
  border-right: 2px;
  border-color: #f4ff91;

}


/***************************/
.centrar {
  /*reutiluzable*/
  text-align: center;
}

/****************index********************************************/
.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 3rem 0;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2.5rem;

}


.cuerpo-prin {
  display: grid;
  grid-template-rows: 5rem 2fr;
  border-radius: 10px;
  gap: 2rem;
  background-image: url(./img/record.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo2 .centrar {
  color: var(--blanco);
  margin: 2rem 0;
}

.titulo2 p {
  font-family: 'Monoton', cursive;
  font-size: 5rem;
}

.cuerpo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  align-items: center;
  padding:0 2rem;
  background-repeat: no-repeat;
  background-size: cover;

}

.card {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  margin: 2, 5rem 0;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  color: var(--blanco);

}

.card .texto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

/**********************/
.cantantes {
  padding-top: 5rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  background-image: url(./img/21034617.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--blanco);
  font-weight: bold;
}

/***************************************/
.principal {
  border-radius: 10px;
  background-image: url(./img/spinning.jpg);
  background-repeat: repeat;
  background-size: cover;
  color: var(--blanco);
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding: 9rem;
  justify-content: space-between;

}

.cabecera-izq {
  font-family: 'Monoton', cursive;
  font-size: 50;
}

/****************carosel************************/
.carousel-inner {
  font-weight: bolder;
  font-size: larger;
  
}

.carousel-inner h2 {
  font-weight: bolder;  
  
}
 
/**************************************************/

.container h3 {
  color: var(--negro);
}

.container span {
  color: var(--blanco);
  align-content: center;
 
}
/**************formulario tablas******************/

.row span{
  font-size: larger;
  text-align: center;
}
.row label {
  color: var(--negro);
}
.row{
  margin: 2rem 0;
  
}
.mt-4 h3{
  font-weight: bold;
}
/**imput style***/
.mb-3{
  padding: 0.5rem 2rem;
  font-weight: bold;

}
.mb-3 input{
  font-weight: bold;
  font-size: medium;
}
.mb-3 select{
  width: 25rem;
}



/**************************/
.card{
 background-color: #212529;

}
.card-header{
  background-color:#232529 ;
  padding: 1.5rem;
}
.card-footer{
  padding:1rem 1rem;
}
.btn{
  margin: 5px;
  border-radius: 7px;
  font-size: medium;
}
.card-footer button{
  padding: 2 2rem;

}
.card h3 {
  color: var(--blanco);
}
.card label{
  color: var(--blanco);
}
.texto h1 {
  font-weight: 900;
}

/*******************************************************/