:root{
  /*Propiedades reusables*/
  --blanco:#ffffff;
  --negro:#000000;
  --Primario:#374c00;
  --P-Dark:#192300;
  --P-Light:#64782e;
  --Fondo:#121317;
  
  }
  /*
  * {
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  */
  html,body{
    height:100%;
    font-size:62.5%;
  }
  
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    font-size: 16px;
    background-color:var(--Fondo);
    font-family: 'Open Sans', sans-serif;
  
  }
  /*/contenedor principala de la navegacion*/
  .barra-nav{ 
    background-color: var(--negro);
    display:flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blanco);
    font-weight: 700;
    padding:5px 1rem;
  
  
  }
  .site-footer {
    margin-top: auto;
  }
  .footer-izq{
    display:flex;
    align-items: center;
    justify-content: space-between;
  
  }
  .footer-izq p{
    margin: 0 1rem;
  }
  
  .titulo{
    margin: 1rem;
    font-size:xx-large;
  }
  .navegacion-prin a{
    color: var(--blanco);
    text-decoration: none;
    padding:  2rem;
  
  }
  
  .navegacion-prin a:hover{
    background-color:#121317;
    color: #f4ff91;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  /*taps*/
  
  .borde{
   background-color:#121317 ;
   color: #f4ff91;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
  
  }
  .taps{
    /*
     border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-width: 1px;
    border-color:#3b3e4d;
    border-style: solid;
    border-bottom: 2px;
  
     border-color:#5b5c64;
    */
    border-style: solid;
    border-top: 5px;
    border-left: 2px;
    border-right: 2px;
    border-color: #f4ff91;
   
  }
  
  
  /***************************/
  .centrar{ /*reutiluzable*/
    text-align: center;
  }
    /****************index********************************************/
  .contenedor {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding:3rem 0;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 2.5rem;
    
  }
  
  
  .cuerpo-prin{
    display: grid;
    grid-template-rows: 5rem 2fr;
    border-radius: 10px;
    gap: 2rem;
    background-image: url(./img/record.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .titulo2 .centrar{
    color: var(--blanco);
    margin: 2rem 0;
  }
  .titulo2 p{
    font-family: 'Monoton', cursive;
    font-size: 5rem;
  }
  .cuerpo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    align-items: center;
    padding: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .card {
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    margin: 2,5rem 0;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;	
    color: var(--blanco);
      
  }
  .card .texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:20px;
      
  }
  /**********************/
  .cantantes{
    padding-top: 5rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
    background-image: url(./img/21034617.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--blanco);
    font-weight: bold;
  }
  .card2{
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    height: 40rem;
    font-weight: bold;
    background-image: url(./img/composition.jpg);
    background-size: cover;
  
  }
  .card-body{
    border-radius: 10px;
    font-weight: bold;
    padding: 0;
  }
  
  .card-title{
    font-weight: bold;
    padding: 10px;
  }
  .card-img-top{
    border-radius: 10px;
    height: 250px;
  }
  .btn{
    border-radius: 7px;
    font-size: medium;
  }
  /***************************************/
  .principal{
    border-radius: 10px;
    background-image: url(./img/spinning.jpg);
    background-repeat: repeat;
    background-size: cover;
    color: var(--blanco);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 9rem;
    justify-content: space-between;
     
  }
  .cabecera-izq{
    font-family: 'Monoton', cursive;
    font-size: 50;
  }
    
    
  /**************************************************/
  .container h3{
    color: var(--negro);
  }
  .container span{
    color: var(--blanco);
  }
  .row label{
    color: var(--negro);
  }
  .texto h1{
    
    font-weight: 900;
  }.table-warning {

}
